/*Estilos izquierda*/
.image-bg {
    background-color: #128277;
}

.user-bg {
    background-color: rgb(21, 32, 43);
}

.about {
    font-weight: bold;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", sans-serif;
    height: 4rem;
    align-content: center;
}

/* Estilos específicos para el rango de ancho entre 280px y 500px */
@media (min-width: 280px) and (max-width: 500px) {
    .about {
        font-size: large;
    }
}

/*Estilos para formulario*/
.form-container {
    width: 90%;
}

.text-color-green {
    color: #128277;
}

.button-color-green {
    display: inline-block; /* Permite que el elemento se comporte como un bloque a la vez que se ajusta al contenido */
    height: 48px;
    padding: 5px 15px; /* Ajusta el espacio interior del elemento */
    border: 1px solid #128277; /* Define un borde alrededor del elemento */
    border-radius: 4px; /* Redondea las esquinas del elemento */
    text-align: center; /* Centra el texto dentro del elemento */
    font-weight: bold; /* Pone el texto en negrita */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el elemento */
    transition: all 0.2s ease-in-out; /* Crea una transición suave al pasar el ratón o hacer clic */
  
    /* Colores por defecto */
    background-color: #128277;
    color: #f0f0f0;
  
    /* Colores al pasar el ratón */
    &:hover {
      background-color: #0f786e;
      color: #f0f0f0;
    }
  
    /* Colores al hacer clic */
    &:active {
      background-color: #0f786e;
      color: #f0f0f0;
    }
}