{% extends 'mainPage.html' %}

{% block pageContent %}

    <div class="alert">
        <h3>¿Estás seguro de que quieres desactivar tu cuenta?</h3>
        <p>Los siguientes protocolos estarán en efecto al eliminar la cuenta. ¿Estás seguro de que quieres proceder?</p>
        <br>
        <ul>
            <li>Se eliminará la información de tu cuenta.</li>
            <li>Se eliminarán todas tus publicaciones.</li>
            <li>No serás visible para otras personas.</li>
        </ul>
        <br>
        <p>Estos cambios serán permanentes. ¿Estás seguro de que quieres desactivar tu cuenta?</p>        
    </div>

    <div class="choice alert">
        <form action="{{ url_for('delete_account',account_id=current_user.id) }}" method="post">
            <input type="submit" class="danger" value="Yes I understand, deactivate account"></input>
        </form>
        <div class="neutral"><a href="{{ url_for('dashboard') }}">No, he cambiado de opinión.</a></div>
    </div>

{% endblock %}