<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalentQuest</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/start.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/twitter.png"/>
    <style>
        /* Estilos personalizados */
        .image-bg {
            padding: 20px;
        }

        .user-bg {
            padding: 20px;
        }

        /* Estilos para hacer el formulario responsive */
        @media (max-width: 768px) {
            .form-group {
                margin-bottom: 15px;
            }

            .login {
                margin-top: 15px;
            }

            /* Estilos para los labels en pantallas pequeñas */
            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            /* Estilos adicionales para el Galaxy Fold */
            .intro {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 image-bg">
                <div class="about">
                    <ul>
                        <li><img class="icons" src="https://image.flaticon.com/icons/svg/3176/3176330.svg" alt="">Sigue tus intereses</li>
                        <li><img src="https://image.flaticon.com/icons/svg/615/615075.svg" alt="" class="icons">Diseña tu futuro profesional</li>
                        <li><img src="https://image.flaticon.com/icons/svg/3094/3094824.svg" alt="" class="icons">Persigue tus sueños profesionales</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 user-bg">
                <img src="https://image.flaticon.com/icons/svg/733/733579.svg" class="twitter" alt="">
                <div class="intro">Transforma tu pasión <br> en profesión</div>
                <p>¡Únete ahora!</p>
                <form action="{{ url_for('home') }}" class="form-group" method="post">
                    {{form1.csrf_token}}
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        {{form1.username(class='form-control',placeholder='Usuario')}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        {{form1.email(class='form-control',placeholder='Email')}}
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        {{form1.password(class='form-control',placeholder='Contraseña')}}
                    </div>
                    {{form1.signup(class='form-signup btn btn-primary')}}
                </form>
                <p>¿Ya tienes cuenta?
                    <button type="button" class="btn btn-info btn-lg login" data-toggle="modal" data-target="#myModal">Login</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="background-color: rgb(21, 32, 43);">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: whitesmoke;">¡Bienvenido de vuelta!</h4>
                </div>
                <div class="modal-body">
                    <p>¡Es bueno verte de vuelta!</p><br>
                    <form action="{{ url_for('home') }}" class="form-group" method="post">
                        {{form2.csrf_token}}
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            {{form2.username(class='login_control form-control',placeholder='Usuario')}}
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            {{form2.password(class='login_control form-control',placeholder='Contraseña')}}
                        </div>
                        <p style="color: aquamarine;">{{form2.remember(placeholder='remember me')}} Recuérdame</p>
                        {{form2.login(class='login_btn btn btn-primary')}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
